<% show_post ||= false %>

<div class='row'>

  <div class='span1 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
        <i class='icon-arrow-up'></i>
      <% end %>
      <br/>
    <% end %>
    <!-- Display Total Number of Votes -->
    <%= comment.total_votes %> <%= comment.total_votes == 1 ? "vote" : "votes" %>
    <% if logged_in? %>
      <br/>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
        <i class='icon-arrow-down'></i>
      <% end %>  
    <% end %>
  </div>

  <div class='span8 well'>
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
      <span class='quiet'>by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
      <small>at</small> <%= format_time(comment.created_at) %>
    </p>
  </div>
</div>
