<div class='well'>
  <%= render 'shared/errors', obj: @user %>
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group'>
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
    </div>
    <div class='control-group'>
      <%= f.label :phone, "Phone Number <small>(optional for 2-Factor Auth)</small>".html_safe %>
      <%= f.text_field :phone, maxlength: 11 %>
      <%= link_to '#', id: 'two_factor_phone' do %>
        <i class='icon-question-sign'></i>
      <% end %>
    </div>
    
    <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: 'btn btn-success' %>
  <% end %>
</div>
