<div class='row'>
  <!-- Display Up Vote -->
  <div class='span1 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <i class='icon-arrow-up'></i>
      <% end %>
      <br/>
    <% end %>
    <!-- Display Total Number of Votes -->
    <span id='post_<%= post.slug %>_votes'><%= pluralize(post.total_votes, 'vote') %></span>

    <!-- Display Down Vote -->
    <% if logged_in? %>
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <% if logged_in? %>
          <i class='icon-arrow-down'></i>
        <% end %>
      <% end %>  
    <% end %>
  </div>

  <!-- Display the post -->
  <div class='span8 well'>
    <%= render post.categories %> 
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at</small> <%= format_time(post.created_at) %>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
  
</div>